<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="SwiperPostSyncBuilder"
         name="Swiper Post Sync Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.gregorbyte.designer.swiper.builder.post.SwiperPostSyncBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="SwiperPreSyncBuilder"
         name="Swiper Pre Sync Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="com.gregorbyte.designer.swiper.builder.pre.SwiperPreSyncBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="swiperNature"
         name="Swiper Metadata Filter Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.gregorbyte.designer.swiper.builder.SwiperNature">
         </run>
      </runtime>
      <builder
            id="com.gregorbyte.designer.swiper.SwiperPostSyncBuilder">
      </builder>
      <builder
            id="com.gregorbyte.designer.swiper.SwiperPreSyncBuilder">
      </builder>
   </extension>
      
   
   <extension
         id="xmlProblem"
         name="Swiper Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.gregorbyte.designer.swiper.pref.SwiperPreferencePage"
            id="com.gregorbyte.designer.swiper.swiperPage"
            name="Swiper">
      </page>
   </extension>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="com.gregorbyte.designer.swiper.menuPopupNsf"
               label="Swiper">
            <command
                  commandId="com.gregorbyte.designer.swiper.commands.addswiper"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
            <command
                  commandId="com.gregorbyte.designer.swiper.commands.removeswiper"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:file?after=additions2">
         <menu
               id="com.gregorbyte.designer.swiper.menuFileNsf"
               label="Swiper">
            <command
                  commandId="com.gregorbyte.designer.swiper.commands.addswiper"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
            <command
                  commandId="com.gregorbyte.designer.swiper.commands.removeswiper"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.gregorbyte.designer.swiper.commands.addswiper"
            name="Add Swiper">
      </command>
      <command
            id="com.gregorbyte.designer.swiper.commands.removeswiper"
            name="Remove Swiper">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.gregorbyte.designer.swiper.handlers.AddSwiperHandler"
            commandId="com.gregorbyte.designer.swiper.commands.addswiper">
         <enabledWhen>
         
          <with variable="selection">
      <iterate ifEmpty="true" operator="and">
         <adapt type="org.eclipse.core.resources.IResource">
            <not>
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="com.gregorbyte.designer.swiper.swiperNature" />
            </not>
         </adapt>
      </iterate>
   </with>
         
         </enabledWhen>
      </handler>
      <handler
            class="com.gregorbyte.designer.swiper.handlers.RemoveSwiperHandler"
            commandId="com.gregorbyte.designer.swiper.commands.removeswiper">
                     <enabledWhen>
                     
                     <with variable="selection">
      <iterate ifEmpty="false" operator="or">
         <adapt type="org.eclipse.core.resources.IResource">
            <test
                  property="org.eclipse.core.resources.projectNature"
                  value="com.gregorbyte.designer.swiper.swiperNature" />
         </adapt>
      </iterate>
   </with>
                     
         </enabledWhen>
            
      </handler>
   </extension>


</plugin>
